[submodule "exportlib"]
	path = export/exportlib
	url = https://github.com/alecgunny/exportlib.git
[submodule "stillwater"]
	path = client_benchmarking/stillwater
	url = git@github.com:alecgunny/stillwater.git
